<p>escenarios works!</p>

<button (click)="getEscenarios()">Get Escenarios</button>

<ol>  <!-- // OrderList -->
    <li *ngFor="let escenario of escenarios">
        <span (click)="getEspectaculos(escenario)">
            {{ escenario.nombre }} - {{ escenario.descripcion }}
        </span>
        <ul>  <!-- // UnorderList -->
            <li *ngFor="let espectaculo of escenario.espectaculos">
                <span (click)="getNumeroDeEntradas(espectaculo)">
                    {{ espectaculo.artista }} - {{ espectaculo.fecha }}
                </span>
                <span *ngIf="espectaculo.entradas">
                    Hay {{ espectaculo.entradas.total }} entradas y <a (click)="irAComprarEntradas()"> hay {{ espectaculo.entradas.libres }} disponibles. </a>
                </span>
            </li>
        </ul>
    </li>
</ol>